<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="dishes: ${dishes}">
    <div th:utext="'Id: ' + ${dishes.id}"></div>
    <div th:utext="${dishes.title}"></div>
    <div th:utext="${dishes.description}"></div>
    <div th:utext="'Цена: ' + ${dishes.price}"></div>
    <a  th:href="@{'/del_dish_list/{id}'(id=${dishes.id})}">
        <button type="button" th:text="Удалить">Удалить</button>
    </a>
    <div>______________________________________________</div>
</div>

<div>
<a href="/dish/create">Добавить еще одно блюдо</a>
</div>

<a href="/orders">Заказы</a>

<div>
    <a href="/admin">Главная страница</a>
</div>
<div>
</div>
</body>
</html>