<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="dishes: ${dishes}">
    <div th:utext="'Id: ' + ${dishes.id}"></div>
    <div th:utext="'Title: ' + ${dishes.title}"></div>
    <div th:utext="'Description: ' + ${dishes.description}"></div>
    <div th:integer="'Price: ' + ${dishes.price}"></div>
</div>

<div>
<a href="/dish/create">Добавить еще одно блюдо</a>
</div>

<a href="/orders">Заказы</a>

<div>
    <a href="/">Главная страница</a>
</div>
<div>
</div>
</body>
</html>