<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<h3>Наши блюда:</h3>
<div th:each="dishes: ${dishes}">
    <div th:utext="'Id: ' + ${dishes.id}"></div>
    <div th:utext="'Title: ' + ${dishes.title}"></div>
    <div th:utext="'Description: ' + ${dishes.description}"></div>
    <div th:integer="'Price: ' + ${dishes.price}"></div>
    <a th:href="@{'/add_dish/{id}'(id=${dishes.id})}" class="col-md-1">
        <button type="button" class="btn btn-primary" th:text="Добавить">Добавить</button>
    </a>
</div>



    <h3>
        <a href="/admin">Админ?</a>
    </h3>
</body>
</html>